#Navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 1;
  background: radial-gradient(#fff2 30%, #fff4);
  background: #00000040;
  backdrop-filter: blur(5px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}
.Visiable {
  width: clamp(300px, 32vw, 546px) !important;
}
.box_Visiable {
  display: block !important;
}
#Navbar::before {
  content: "";
  position: absolute;
  background: inherit;
  filter: blur(10px);
  z-index: -1;
}
.box {
  display: none;
  width: clamp(300px, 94%, 513px);
  height: clamp(384px, 49vh, 384px);
  border-bottom: 2px solid #c2c2c278;
  color: #ffffffc7;
  font-family: var(--font);
}

#UL-2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 20px;
  gap: 15px;
  cursor: pointer;
}
#Search {
  border: none;
  outline: none;
  width: clamp(200px, 20vw, 367px);
  height: clamp(37px, 4vh, 37px);
  padding: 2px 13px;
  background: transparent;
  border-bottom: 2px solid #c2c2c278;
  color: #ffffffb0;
  font-size: 1rem;
}
::placeholder {
  color: #ffffffb0;
  opacity: 1; /* Firefox */
}
.ShowNames {
  font-size: 1.1rem;
  color: #dad9d9ed;
}
.ShowName_Animations {
  transition: 0.3s;
}
.ShowName_Animations:hover {
  transform: translateY(-5px);
}
#UL-3 {
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 12px;
  gap: 42px;
  cursor: pointer;
}
.W_D {
  display: inline;
  font-size: 1.1rem;
  color: #dad9d9ed;
}
.W_D_Number {
  float: right;
  padding: 1px 37px;
  font-size: 1.1rem;
  color: #fff;
}
#Search-btn {
  position: absolute;
  top: 5px;
  right: 6px;
  width: 106px;
  height: 75px;
  float: right;
  background: #c2c2c224;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}
#Search-btn:hover {
  transform: scale(1.1);
  background-color: rgba(32, 32, 32, 0.363);
}

.test {
  animation: tt 0.9s both;
}
@keyframes tt {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
}
